.DS_Store
*.log
/*

!/.travis.yml
!/README.md
!/.gitignore
!/selenium.php

!/plugins
/plugins/*
!/plugins/relenta

/themes/ply/fonts/*

!/themes
/themes/*
!/themes/ply


*.sublime-project
*.sublime-workspace
