language: php

php:
  - 5.5
  - 5.6
  - 7.0
  - hhvm

matrix:
  allow_failures:
    - php: hhvm

sudo: false

before_script:
  - git clone https://github.com/octobercms/october.git
  - mkdir -p ./october/plugins/relenta/ply
  - mv plugins/relenta october/plugins/
  - mv themes/ply october/themes
  - cd october
  - composer self-update
  - travis_retry composer install --no-interaction --prefer-source
  - cd plugins/relenta/ply
  - composer install

script: ../../../vendor/bin/phpunit --coverage-clover build/logs/clover.xml