<header id="header-global" role="banner">

    {#<div id="header-background">

        <div class="logo-icons container">

            <div class="row">

                <div class="header-logo eight columns">

                    <div id="logo-default">
                        <a href="{{ 'home'|page }}" title="GetPly">
                            GetPly
                        </a>
                    </div>


                </div><!-- end .header-logo -->

                <div class="icons eight columns">

                    <ul class="social-icons">
                    </ul>

                </div><!-- end .icons -->

            </div><!-- end .row -->

        </div><!-- end .logo-icons container -->

    </div><!-- end #header-background -->   #}

    <div id="header-background-nav">

        <div class="container">

            <div class="row">

                <a href="{{ 'home'|page }}" class="logo"></a>

                <nav id="header-navigation" class="navigation-wide" role="navigation">
                    <ul id="navigation" class="menu">
                        <li><a href="{{ 'home'|page }}">Home</a></li>
                        <li><a href="{{ 'faq'|page }}">FAQ</a></li>
                        <li><a href="{{ 'blog'|page }}">Blog</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle"
                               data-toggle="dropdown"
                               role="button"
                               aria-haspopup="true"
                               aria-expanded="false">
                                Language <img src="{{ mix('/images/drop_item_en.png', 'themes/ply/dist')}}" alt=""><span class="caret"></span></a>
                            <ul class="dropdown-menu main_nav_dropdown">
                                <li><a href="#" data-request="onSwitchLocale" data-request-data="locale: 'en'">English <img src="{{ mix('/images/drop_item_en.png', 'themes/ply/dist')}}" alt=""></a></li>
                                <li><a href="#" data-request="onSwitchLocale" data-request-data="locale: 'fr'">French <img src="{{ mix('/images/drop_item_en.png', 'themes/ply/dist')}}" alt=""></a></li>
                                <li><a href="#" data-request="onSwitchLocale" data-request-data="locale: 'es'">Spanish <img src="{{ mix('/images/drop_item_en.png', 'themes/ply/dist')}}" alt=""></a></li>
                                <li><a href="#" data-request="onSwitchLocale" data-request-data="locale: 'zh'">Chinese <img src="{{ mix('/images/drop_item_en.png', 'themes/ply/dist')}}" alt=""></a></li>
                                <li><a href="#" data-request="onSwitchLocale" data-request-data="locale: 'ar'">Arabic <img src="{{ mix('/images/drop_item_en.png', 'themes/ply/dist')}}" alt=""></a></li>
                                <li><a href="#" data-request="onSwitchLocale" data-request-data="locale: 'ru'">russian <img src="{{ mix('/images/drop_item_en.png', 'themes/ply/dist')}}" alt=""></a></li>
                            </ul>
                        </li>
                    </ul>
                </nav><!-- end #header-navigation -->

            </div><!-- end .row -->

        </div><!-- end .container -->

    </div><!-- end #header-background-nav -->
</header><!-- end #header-global -->