<form data-request="onSignin" class="signin-form signin-form_account-page">

    <div class="form-row">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

            <input name="email"
                   type="email"
                   class="mdl-textfield__input signin-form__email"
                   id="userSigninLogin"
                   placeholder="Enter your email">

            <label class="mdl-textfield__label"
                   for="userSigninLogin">
                {{ 'partials.account.signin.email'|_ }}
            </label>
        </div>
    </div>
    <div class="form-row">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

            <input name="password"
                   type="password"
                   class="mdl-textfield__input signin-form__password"
                   id="userSigninPassword"
                   placeholder="Enter your password">

            <label class="mdl-textfield__label"
                   for="userSigninPassword">
                {{ 'partials.account.signin.password'|_ }}
            </label>
        </div>
    </div>
    <div class="form-row">
        <p class="text-right">
            {{ 'partials.account.signin.sign-in-with'|_ }}
            {% for name, link in social_login_links %}
            <a href="{{ link }}">{{name}}</a>
            {% endfor %}
        </p>
    </div>
    <div class="form-row">
        <button type="submit"
                class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored signin-form__submit">
            {{ 'partials.account.signin.sign-in'|_ }}
        </button>
    </div>
</form>


