<ul id="slide-out" class="side-nav">
    <li>
        <a href="{{ 'home'|page }}">Home</a>
    </li>
    <li>
        <a href="{{ 'categories'|page }}">Categories</a>
    </li>


    {% if user %}
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li>
                    <a class="collapsible-header">
                        {{ user.email }}<i class="material-icons">arrow_drop_down</i>
                    </a>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href="{{ 'account/account'|page }}">Account</a></li>
                            <li><a href="#!" id="logout" data-request="onLogout">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    {% else %}
        <li><a href="{{ 'account/account'|page }}">Sign up</a></li>
    {% endif %}


</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>