==
<!-- Nav -->
<nav id="layout-nav" class="navbar navbar-inverse navbar-fixed-top navbar-autohide" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="{% if this.page.id == 'home' %}active{% endif %}"><a href="{{ 'home'|page }}">Home</a></li>
                <li class="{% if this.page.id == 'categories' %}active{% endif %}"><a href="{{ 'categories'|page }}">Categories</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user %}
                    <li class="dropdown">
                        <a href="#"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">
                                {{ user.email }} <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="{{ 'account'|page }}">Account</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a data-request="onLogout">Sign out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="{% if this.page.id == 'account' %}active{% endif %}">
                        <a href="{{ 'account'|page }}">Sign up</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>